<div class="personTable">
  <h3>Update your personel</h3>
  <table datatable class="row-border hover" id="personnelTablee" cellspacing="0" width="90%">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Description</th>
        <th data-toggle="tooltip" data-placement="bottom" title="Want edit row? Click me">Edit</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let p of personnel">
        <td> {{p.firstName}}</td>
        <td> {{p.lastName}}</td>
        <td> {{p.descriptionPerson}}</td>
        <td>
          <button class="btn btn-success" data-toggle="modal" data-target="#myModal2" (click)=editPersonnel(p)>
            <i class="fa fa-address-book-o" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success" data-toggle="modal" data-target="#modalService" (click)=selectServiceByPerson(p.id)>
            <i class="fa fa-book" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success" data-toggle="modal" data-target="#modalTime" (click)=selectTimeByPerson(p.id)>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="editTimeTable">

  <div class="modal fade" id="modalTime">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit time table person`s</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table class="row-border hover" id="tableService">
            <thead>
              <tr>
                <th>Day</th>
                <th>From</th>
                <th>To</th>
                <th>Update</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let s of timeTableList">
                <td> {{s.day}}</td>
                <td> {{s.timeFrom}}</td>
                <td> {{s.timeTo}}</td>
                <td>
                  <button class="btn btn-danger" (click)=deleteTime(s)>X</button>

                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <button class="btn btn-primary buttonInTime" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
              aria-controls="collapseExample">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
            </button>
          </p>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <div class="collapse" id="collapseExample">
            <dt>Add new service to person</dt>
            <form id="serviceForm" [formGroup]="timeForm" (ngSubmit)="addTimeToList()" data-toggle="validator">
              <button type="submit" class="btn btn-primary btn-circle btn-sm" [disabled]="!timeForm.valid">+</button>
              <div class="input-group" [ngClass]="{'has-error':!timeForm.controls['day'].valid && timeForm.controls['day'].touched}">

                <select [formControl]="timeForm.controls['day']">
                  <option value="2">Mon</option>
                  <option value="3">Tue</option>
                  <option value="4">Wed</option>
                  <option value="5">Thu</option>
                  <option value="6">Fri</option>
                  <option value="7">Sat</option>
                  <option value="1">Sun</option>
                </select>
              </div>
              <div *ngIf="timeForm.controls['day'].hasError('required') && timeForm.controls['day'].touched" class="alert alert-danger">You must include a day.</div>
              <div class="input-group" [ngClass]="{'has-error':!timeForm.controls['timeFrom'].valid && timeForm.controls['timeFrom'].touched}">
                <input id="from" type="time" class="form-control" placeholder="Time start work" aria-describedby="basic-addon1" [formControl]="timeForm.controls['timeFrom']"
                />
              </div>
              <div *ngIf="timeForm.controls['timeFrom'].hasError('required') && timeForm.controls['timeFrom'].touched" class="alert alert-danger">You must include a start time.</div>
              <div class="input-group" [ngClass]="{'has-error':!timeForm.controls['timeTo'].valid && timeForm.controls['timeTo'].touched}">
                <input id="to" type="time" class="form-control" placeholder="Time end work" aria-describedby="basic-addon1" [formControl]="timeForm.controls['timeTo']"
                />
              </div>
              <div *ngIf="timeForm.controls['timeTo'].hasError('required') && timeForm.controls['timeTo'].touched" class="alert alert-danger">You must include a end time.</div>
            </form>
          </div>

          <br>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="sendEditTime()">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="getServiceByPerson">

  <div class="modal fade" id="modalService">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Services that are performed by an employee</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table class="row-border hover" id="tableService">
            <thead>
              <tr>
                <th>Service</th>
                <th>Update</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let s of descriptionList">
                <td> {{s}}</td>
                <td>
                  <button class="btn btn-danger" (click)=deleteDescription(s)>X</button>

                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <button class="btn btn-primary buttonIn" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false"
              aria-controls="collapseExample2">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
            </button>
          </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <div class="collapseService" id="collapseExample2">
            <dt>Add new service to person</dt>
            <div class="input-group" [ngClass]="{'has-error':!serviceNameForm.controls['dscr'].valid && serviceNameForm.controls['dscr'].touched}">
              <button (click)="addServiceToList()" class="btn btn-primary btn-circle btn-sm" [disabled]="!serviceNameForm.valid">+</button>

              <select class="form-control" [formControl]="serviceNameForm.controls['dscr']">
                <option *ngFor="let type of service" [value]=type.descriptionService>{{type.descriptionService}}</option>
              </select>

            </div>

          </div>

          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="sendAssign()">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="editAllPersonnel">

  <div class="modal fade" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit person</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form id="personnelForm" [formGroup]="personnelForm">
            <div class="input-group" [ngClass]="{'has-error':!personnelForm.controls['firstName'].valid && personnelForm.controls['firstName'].touched}">
              <span class="input-group-addon">
                <i class="fa fa-user fa-fw"></i>
              </span>
              <input id="Name" type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" [formControl]="personnelForm.controls['firstName']"
              />
            </div>
            <div *ngIf="personnelForm.controls['firstName'].hasError('required') && personnelForm.controls['firstName'].touched" class="alert alert-danger">You must include a name.</div>

            <div class="input-group" [ngClass]="{'has-error':!personnelForm.controls['lastName'].valid && personnelForm.controls['lastName'].touched}">
              <span class="input-group-addon">
                <i class="fa fa-user fa-fw"></i>
              </span>
              <input id="Surname" type="text" class="form-control" placeholder="Surname" aria-describedby="basic-addon1" [formControl]="personnelForm.controls['lastName']"
              />
            </div>
            <div *ngIf="personnelForm.controls['lastName'].hasError('required') && personnelForm.controls['lastName'].touched" class="alert alert-danger">You must include a surname.</div>
            <div class="input-group" [ngClass]="{'has-error':!personnelForm.controls['descriptionPerson'].valid && personnelForm.controls['descriptionPerson'].touched}">
              <span class="input-group-addon">
                <i class="fa fa-info-circle fa-fw"></i>
              </span>
              <input id="Email" type="email" class="form-control" placeholder="About me" aria-describedby="basic-addon1" [formControl]="personnelForm.controls['descriptionPerson']"
              />
            </div>
            <div *ngIf="personnelForm.controls['descriptionPerson'].hasError('required') && personnelForm.controls['descriptionPerson'].touched"
              class="alert alert-danger">You must include a description.</div>
            <div *ngIf="personnelForm.controls['descriptionPerson'].hasError('minlength') && personnelForm.controls['descriptionPerson'].touched"
              class="alert alert-danger">Your description must be at least 5 characters long.</div>
            <div *ngIf="personnelForm.controls['descriptionPerson'].hasError('maxlength') && personnelForm.controls['descriptionPerson'].touched"
              class="alert alert-danger">Your description cannot exceed 255 characters.</div>
          </form>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="disablePerson()" data-toggle="tooltip" data-dismiss="modal"
            data-placement="bottom" title="Click if you want delete this person">Delete person</button>
          <button type="submit" class="btn btn-primary" (click)="editOnePerson()" data-dismiss="modal" [disabled]="!personnelForm.valid">
            <span class="glyphicon glyphicon-user"></span> Edit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="serviceTable">
  <h3>Update your services</h3>
  <table datatable class="row-border hover" id="serviceTable">
    <thead>
      <tr>
        <th>Service</th>
        <th>Time</th>
        <th>Price</th>
        <th>Edit</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let s of service">
        <td> {{s.descriptionService}}</td>
        <td> {{s.duration}}</td>
        <td> {{s.price}}</td>
        <td>
          <button class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)=editService(s)>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="editAllServices">

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit service</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form id="serviceForm" [formGroup]="serviceForm">
            <div class="input-group" [ngClass]="{'has-error':!serviceForm.controls['descriptionService'].valid && serviceForm.controls['descriptionService'].touched}">
              <span class="input-group-addon">
                <i class="fa fa-info-circle fa-fw"></i>
              </span>
              <input id="dscr" type="text" class="form-control" placeholder="Description service" aria-describedby="basic-addon1" [formControl]="serviceForm.controls['descriptionService']"
              />
            </div>
            <div *ngIf="serviceForm.controls['descriptionService'].hasError('required') && serviceForm.controls['descriptionService'].touched"
              class="alert alert-danger">You must include a description service`s.</div>

            <div class="input-group" [ngClass]="{'has-error':!serviceForm.controls['duration'].valid && serviceForm.controls['duration'].touched}">
              <span class="input-group-addon">
                <i class="fa fa-clock-o fa-fw"></i>
              </span>
              <input id="duration" type="time" class="form-control" placeholder="Duration" aria-describedby="basic-addon1" [formControl]="serviceForm.controls['duration']"
              />
            </div>
            <div *ngIf="serviceForm.controls['duration'].hasError('required') && serviceForm.controls['duration'].touched" class="alert alert-danger">You must include a duration service`s.</div>
            <div class="input-group" [ngClass]="{'has-error':!serviceForm.controls['price'].valid && serviceForm.controls['price'].touched}">
              <span class="input-group-addon">
                <i class="fa fa-usd fa-fw"></i>
              </span>
              <input id="price" type="number" class="form-control" placeholder="Price" aria-describedby="basic-addon1" [formControl]="serviceForm.controls['price']"
              />
            </div>
            <div *ngIf="serviceForm.controls['price'].hasError('required') && serviceForm.controls['price'].touched" class="alert alert-danger">You must include a price service`s.</div>
          </form>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="editOneService(serviceForm.value)">
            <span class="glyphicon glyphicon-user"></span> Edit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>



<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>