<p-growl [(value)]="msgs">
</p-growl>

<div class="table">
  <div id="section1" class="container-fluid">
    <h3>Select your performer</h3>
    <table datatable class="row-border hover" id="personnelTable" cellspacing="0" width="90%">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of personnel" (click)="getPersonId(p)">
          <td> {{p.firstName}}</td>
          <td> {{p.lastName}}</td>
          <td> {{p.descriptionPerson}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="table">
  <div id="section2" class="container-fluid">
    <h3>Select service</h3>
    <!-- <input type="text" id="findPerson" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> -->
    <table datatable class="row-border hover" id="serviceTable">
      <thead>
        <tr>
          <th>Service</th>
          <th>Time</th>
          <th>Price</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let s of service" (click)="getServiceId(s)">
          <td> {{s.descriptionService}}</td>
          <td> {{s.duration}}</td>
          <td> {{s.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="choiseData">
  <div id="section3" class="container-fluid">
    {{dt| date:'yyyy-MM-dd'}}

    <h3>Select the date of the visit</h3>

    <input id="time" class="min-today" placeholder="Choose a date" type="date" [value]="timeInput" [min]="today" #date>
    <button type="button" class="btn btn-primary" (click)="submitt(date)">Check free dates</button>



  </div>
</div>

<div class="listHours">
  <div id="section4" class="container-fluid">
    <h3>Set the time of the visit</h3>

    <ng-container *ngFor="let status of times ; let i=index">
      <mat-radio-group layout="row">
        <div *ngIf="i < 5; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <tr>
            <input #widget class='with-gap' type='radio' [value]='status' name="optradio" data-toggle="modal" data-target="#confirmModal"
              (change)="setTime(status)">
            <!-- (change)="reserve(status)"-->

            <!-- <mat-radio-button [value]='status' (change)="reserve(status)">{{status}}</mat-radio-button> -->

            <label> {{status}}</label>
          </tr>
        </ng-template>
      </mat-radio-group>
      <ng-template #elseBlock>
        <tr>
          <input #widget class='with-gap2' type='radio' [value]='status' name="optradio" data-toggle="modal" data-target="#confirmModal"
            (change)="setTime(status)">
          <!-- (change)="reserve(status)"-->
          <label> {{status}}</label>
        </tr>
      </ng-template>

    </ng-container>
  </div>
</div>
<!--
  <div id="section42" class="container-fluid">
    <h1>Section 4 Submenu 2</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the
      navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the
      navigation bar while scrolling!</p>
  </div> -->

<router-outlet></router-outlet>

<!-- </body> -->

<div class="confirmReservation">

  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Did you want reserve visit?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="reserve()" data-dismiss="modal">
            <span class="glyphicon glyphicon-user"></span> Ok</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>